:root {
    --paused-background-color: #eaeafa;

    --score-area-background-color: var(--info);

    --question-answered-background-color: tomato;
    --question-answered-border-color: orange;

    --wrong-answer-background-color: tomato;
    --wrong-answer-border-color: red;
}
